@model BlockbusterGames.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConsoleType.Console_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsoleType.Console_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.GenreType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.GenreType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Release_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Release_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GameId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
